<a href="https://colab.research.google.com/github/Elija-Daquiz/OOP-58002/blob/main/Loop_Statement.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

For Loop

In [3]:
week = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]
for x in week:
    print(x)

Sunday
Monday
Tuesday
Wednesday
Thursday
Friday
Saturday

For Loop through String

In [5]:
for x in "week":
    print(x)

w
e
e
k

For Loop in Break Statement

In [6]:
for x in week:
    print(x)
    if x == "Thursday":
      break

Sunday
Monday
Tuesday
Wednesday
Thursday

In [8]:
for x in week:
    if x == "Thursday":
      print(x)
      break

Thursday

Range()Function

In [9]:
for x in range(6):
  print(x)

0
1
2
3
4
5

In [13]:
for x in range(2,6):
  print(x)

2
3
4
5

In [11]:
for x in range(2,6+1,2):
  print(x)

2
4
6

Nested Loops

In [12]:
adjective = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adjective:
  for y in fruits:
    print(x,y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

While Loop

In [20]:
i=1
while i<6:
  print(i)
  if i == 3:
    break
  i+=1

1
2
3

Display ony 3

In [23]:
i=1
while i<6:
  if i == 3:
   print(i)
   break
  i+=1

3

Application 1

In [24]:
for x in range(11):
  print("Hello!", x)

Hello! 0
Hello! 1
Hello! 2
Hello! 3
Hello! 4
Hello! 5
Hello! 6
Hello! 7
Hello! 8
Hello! 9
Hello! 10

In [31]:
hello = ["Hello!"]
num = ["0", "1", "2", "3", "4", "5", "6", "7", "8", "9", "10"]

for x in hello:
  for y in num:
    print(x,y)

Hello! 0
Hello! 1
Hello! 2
Hello! 3
Hello! 4
Hello! 5
Hello! 6
Hello! 7
Hello! 8
Hello! 9
Hello! 10

In [32]:
i=0
while i<15:
  print("Hello", i)
  if i == 10:
    break
  i+=1

Hello 0
Hello 1
Hello 2
Hello 3
Hello 4
Hello 5
Hello 6
Hello 7
Hello 8
Hello 9
Hello 10

Application 2

In [30]:
for x in range(3,10):
  print(x)

3
4
5
6
7
8
9