<a href="https://colab.research.google.com/github/Elija-Daquiz/OOP-58002/blob/main/Operations_and_Expressions_in_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Boolean Operators

Bool() Function

In [3]:
print (bool(1))
print (bool("Ana"))
print (bool(0))
print (bool(None))
print (bool([]))

True
True
False
False
False

Functions can return Boolean

In [5]:
def myFunction():
  return False

print (myFunction())

False

In [8]:
def myFunction():
  return True
if myFunction():
  print("YES!!")
else:
  print("NO!!!")

YES!!

In [11]:
print(10%5)
print(10//3)
print(10**2)

0
3
100

Python Operators

In [17]:
print(10 + 5)
print(10 - 5)
print(10 * 5)
print(10 / 5)
print(10 // 5)
print(10 % 3)
print(10 ** 2)

15
5
50
2.0
2
1
100

Python Bitwise Operators

In [22]:
a = 60
b = 13

a<<1

120

Python Assignment Operators

In [32]:
x = 1
x += 3 # same as x = x + 3
print(x)

x = 1
x -= 3 
print(x)

x = 1
x *= 3 
print(x)

x = 1
x /= 3 
print(x)

x = 1
x %= 3 
print(x)

4
-2
3
0.3333333333333333
1

Logical Operators

In [36]:
x = True
y = True

In [37]:
print(x and y)
print(x or y)
print(not(x or y))

True
True
False

Identity Operators

In [40]:
print(x is y)
print(x is not y)

True
False

In [69]:
op = input('+,-,*,/,%:')

n1 = int(input('1st number: '))
n2 = int(input('2nd number: '))

if op == '+':
  print(n1+n2)

elif op == '-':
  print(n1-n2)

elif op == '*':
  print(n1*n2)

elif op == '/':
  print(n1/n2)

elif op == '%':
  print(n1%n2)

else:

  print('DI KO MASOSOLVE GAMIT-->',op)

+,-,*,/,%: /
1st number: 12
2nd number: 6
2.0

Application 1 Create an Arithmetic Calculator (MDAS)